<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="refresh" content="0;URL='{{ this.redirect }}'" />
    </head>
    <body>
        <p>This page has moved to a <a href="{{ this.redirect }}">{{ this.redirect }}</a></p>
    </body>
</html>