---
# This is simply an example for unit tests. Mixing all of this information should **not** be done as a static page

name: %fname %lname
fname: Scott
lname: Pilgrim
permalink: /authors/%name/
active: true
joined: 2010-08-13
powers:
  - Power of Understanding
  - Power of Love
  - Power of Self-Respect (film only)
  - Various video game-style fighting moves
---

<p>A jail object test</p>