pre .hljs {
    padding: 0.75em 0;
}

.loc {
    display: inline-block;
    padding: 0 0.75em;
    width: 100%;
}

.loc.highlighted {
    background: #4c5600;
}

.written-content {
    img {
        display: block;
        margin: 0 auto 1rem;
        max-width: 100%;
    }
}
