<?php

$finder = PhpCsFixer\Finder::create()
    ->in('bin')
    ->in('src')
    ->in('tests')
    ->notName('CodeNode.php')
    ->notName('Logger.php')
;

return PhpCsFixer\Config::create()
    ->setRules([
        '@Symfony' => true,
        'array_syntax' => ['syntax' => 'short'],
        'braces' => [
            'position_after_control_structures' => 'next',
        ],
        'cast_spaces' => [
            'space' => 'none'
        ],
        'concat_space' => ['spacing' => 'one'],
        'header_comment' => [
            'header' => "@copyright 2018 Vladimir Jimenez\n@license   https://github.com/stakx-io/stakx/blob/master/LICENSE.md MIT",
            'commentType' => 'PHPDoc',
            'location' => 'after_open',
            'separate' => 'both',
        ],
        'multiline_whitespace_before_semicolons' => [
            'strategy' => 'new_line_for_chained_calls',
        ],
        'no_short_echo_tag' => true,
        'no_unused_imports' => true,
        'no_useless_else' => true,
        'no_useless_return' => true,
        'no_whitespace_in_blank_line' => true,
        'ordered_imports' => [
            'sortAlgorithm' => 'alpha',
            'importsOrder' => [
                'const',
                'class',
                'function',
            ],
        ],
        'phpdoc_add_missing_param_annotation' => true,
        'phpdoc_no_empty_return' => false,
        'phpdoc_order' => true,
        'phpdoc_var_without_name' => false,
        'php_unit_fqcn_annotation' => false,
        'ternary_to_null_coalescing' => true,
        'yoda_style' => [
            'equal' => false,
            'identical' => false,
        ],
    ])
    ->setFinder($finder)
;
