---
title: About Me
permalink: /about/
menu: true
---

{% extends "page.html.twig" %}

{% block Content %}
    <h1>More About Me</h1>

    <article>
        <p>Bacon ipsum dolor amet rump picanha frankfurter doner salami swine. Capicola kevin meatball tri-tip shank short ribs. Meatball tri-tip shank tenderloin. Ham hock hamburger venison, salami shankle tri-tip drumstick picanha turkey ball tip chicken jerky. Alcatra flank kielbasa, chicken beef ribs pork loin picanha pork chop shank. Tongue jerky pork belly, capicola short loin brisket pastrami tri-tip boudin kevin drumstick salami flank ham pork loin.</p>
    </article>
{% endblock %}