---
title: My Blog
permalink: /
menu: true
---

{% extends "page.html.twig" %}

{% block Content %}
    <h1>Welcome to my Website</h1>

    <article>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut velit in purus ultrices sodales. Nullam ante ipsum, faucibus a nisi ac, euismod sagittis risus. Sed blandit vestibulum efficitur. Fusce iaculis est nec pretium feugiat. Proin at eros non enim aliquam blandit quis at nisl. In varius eget sem ut laoreet. Sed in porttitor risus. Nulla interdum neque eu neque vestibulum ultrices. Quisque consectetur orci orci, ut pharetra ipsum aliquam sed.</p>
    </article>
{% endblock %}