---
permalink: /
title: Stakx
slug: Yet another static website generator
menu: false
---

{% extends "_layouts/base.html.twig" %}

{% block content %}
    <article>
        <div class="row text-center margin-bottom-40">
            <div class="col-md-6">
                <h3>Inspired by a Giant</h3>
                <img src="{{ url('assets/imgs/logo-jekyll.png') }}" alt="Jekyll—simple, blog-aware, sites">
            </div>
            <div class="col-md-6">
                <h3>Built on the Shoulders of Giants</h3>
                <img src="{{ url('assets/imgs/logo-symfony.png') }}" alt="Symfony—high performance PHP framework">
                <img src="{{ url('assets/imgs/logo-twig.png') }}" alt="Twig—flexible, fast, and secure PHP template engine">
            </div>
        </div>

        <p>
            Stakx is yet another static website generator just like Jekyll, but it's written in PHP. Now, you're
            probably thinking one of the following things:
        </p>
        <ul>
            <li>"Why make another static website when Jekyll exists?"</li>
            <li>"But there's already a PHP project called <a href="https://sculpin.io/">Sculpin</a>, why make another?"</li>
            <li>"Ew, why PHP?"</li>
        </ul>
        <p>
            I love Jekyll and work with it a lot but Liquid has a lot of short-comings if you're coming from a Twig
            background, like me. Stakx is a proof of concept to build a more powerful static website builder without
            any requirements on superfluous settings, setup, workarounds, etc. Stakx is designed to "just work."
        </p>
    </article>
{% endblock %}