---
title: Tutorials
slug: What can Stakx do out of the box?
permalink: /blog/
---

{% extends "_layouts/base.html.twig" %}

{% block content %}
    {% for post in collections.posts | order('date', 'DESC') %}
        <article>
            <h2>{{ post.title }}</h2>
            <p class="text-muted"><strong>{{ post.date | date("F d, Y") }}</strong></p>

            <section>
                {{ post.content | raw }}
            </section>
        </article>
    {% endfor %}
{% endblock %}
