---
title: Quick Intro
slug: What can Stakx do out of the box?
permalink: /blog/
---

{% extends "_layouts/base.html.twig" %}

{% block content %}
    {% for post in collections.posts | order('date', 'DESC') %}
        <article>
            <h2>
                <a href="{{ post.permalink }}">{{ post.title }}</a>
            </h2>
            <p class="text-muted"><strong>{{ post.date | date("F d, Y") }}</strong></p>
        </article>
    {% endfor %}
{% endblock %}
