---
title: Quick Intro
slug: What can Stakx do out of the box?
permalink: /blog/
---

{% extends "_layouts/base.html.twig" %}

{% block content %}
    {% for post in collections.posts | order('date', 'DESC') %}
        <article class="mb-4">
            <h3 class="m-0">
                <a href="{{ url(post.permalink) }}">{{ post.title }}</a>
            </h3>
            <p><strong>{{ post.date | date("F d, Y") }}</strong></p>
        </article>
    {% endfor %}
{% endblock %}
