---
title: Updates
permalink: /blog/
---

{% extends "_layouts/base.html.twig" %}

{% block body %}
    {% for post in collections.posts %}
        <article>
            <h1>{{ post.title }}</h1>

            <p>{{ post.permalink }}</p>

            <section>
                {{ post.content | raw }}
            </section>
        </article>
    {% endfor %}
{% endblock %}
