---
collection: posts
permalink: /blog/:year/:month/:day/:title/
---

{% extends "_layouts/base.html.twig" %}

{% block content %}
    <h1>{{ item.title }}</h1>

    <section>
        {{ item.content | raw }}
    </section>
{% endblock %}