---
collection: posts
permalink: /blog/:year/:month/:day/:title/
---

{% extends "_layouts/base.html.twig" %}

{% block content %}
    <article>
        <h2>{{ item.title }}</h2>

        <section>
            {{ item.content | raw }}
        </section>
    </article>
{% endblock %}