---
collection: posts
permalink: /blog/%year/%month/%day/%title/
---

{% extends "_layouts/base.html.twig" %}

{% block content %}
    <article>
        <h2>{{ this.title }}</h2>

        <section>
            {{ this.content }}
        </section>
    </article>
{% endblock %}
