---
permalink: /calendar/%basename/
dataset: calendar
title: %basename
---

{% extends "_layouts/base.html.twig" %}

{% block content %}
    <h3>Events for the month of {{ this.title | title }}</h3>

    {% for date in this %}
        <article>
            <p><strong>{{ date.localName }}</strong></p>
            <p>{{ date.date | date('F d, Y') }}</p>
        </article>
    {% endfor %}
{% endblock %}
