{% extends "@theme/base.html.twig" %}

{% block body %}
    <div class="container d-flex flex-column flex-grow-1 ">
        <header class="page-header">
            {% block header %}
                <h1 class="lead text-capitalize">
                    {{ this.title ? this.title : site.title }}
                </h1>
                {% if this.slug %}
                    <h2 class="h1">{{ this.slug }}</h2>
                {% endif %}
            {% endblock %}
        </header>

        <main class="mt-5">
            {% block content %}{% endblock %}
        </main>
    </div>

    <footer class="bg-dark border-top border-secondary mt-5 p-4 shadow-lg text-light">
        {% block footer %}
            <p class="m-0 text-center">Copyright &copy; {{ "now" | date("Y") }}</p>
        {% endblock %}
    </footer>
    
{% endblock %}