{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <header class="page-header">
            {% block header %}
                <h1>
                    {{ page.title ? page.title : site.title }}

                    {% if page.slug %}
                        <small>{{ page.slug }}</small>
                    {% endif %}
                </h1>
            {% endblock %}
        </header>

        <main>
            {% block content %}{% endblock %}
        </main>

        <footer>
            {% block footer %}
                <p>Copyright &copy; {{ "now" | date("Y") }}</p>
            {% endblock %}
        </footer>
    </div>
{% endblock %}