{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <header class="page-header">
            {% block header %}
                <h1>
                    {{ this.title ? this.title : site.title }}

                    {% if this.slug %}
                        <small>{{ this.slug }}</small>
                    {% endif %}
                </h1>
            {% endblock %}
        </header>

        <main>
            {% block content %}{% endblock %}
        </main>

        <footer class="page-footer">
            {% block footer %}
                <p>Copyright &copy; {{ "now" | date("Y") }}</p>
            {% endblock %}
        </footer>
    </div>
{% endblock %}