---
title: Books
slug: A Collection of Random Books
permalink: /books/
---

{% extends '_layouts/base.html.twig' %}

{% block content %}
    {% for book in collections.books | order('title', 'ASC') %}
        <article>
            <p>
                <strong><a href="{{ url(book) }}">{{ book.title }}</a></strong>
            </p>
            <p>
                <strong>ISBN:</strong> {{ book.isbn }}
            </p>
        </article>
    {% endfor %}
{% endblock %}