---
title: Books
slug: A Collection of Random Books
permalink: /books/
---

{% extends '_layouts/base.html.twig' %}

{% block content %}
    {% for book in collections.books | order('title', 'ASC') %}
        <article class="mb-4">
            <h3 class="m-0">
                <strong><a href="{{ url(book) }}">{{ book.title }}</a></strong>
            </h2>
            <p class="m-0">
                <strong>ISBN:</strong> {{ book.isbn }}
            </p>
        </article>
    {% endfor %}
{% endblock %}
